<section id="chocolate-is-loved" class="chocolate-is-loved">
    <div class="container">
        <h2 class="chocolate-is-loved-title">
            <span class="chocolate-is-loved-title-accent">Chocolate</span> is loved
        </h2>
        <div class="chocolate-is-loved-list-container swiper-chocolate-is-loved">
            <ul class="chocolate-is-loved-list swiper-wrapper">
                <li class="chococolate-is-loved-item swiper-slide">
                    <img 
                        src="./images/chocolate-is-loved/chocolate-is-loved-1.png"
                        alt="Client photo 1"
                        class="chococolate-is-loved-item-image"
                    />
                    <h3 class="chococolate-is-loved-item-name">Victoria Dobrzhanska</h3>
                    <p class="chococolate-is-loved-item-text">
                        I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
                    </p>
                </li>
                <li class="chococolate-is-loved-item swiper-slide">
                    <img 
                        src="./images/chocolate-is-loved/chocolate-is-loved-2.png"
                        alt="Client photo 2"
                        class="chococolate-is-loved-item-image"
                    />
                    <h3 class="chococolate-is-loved-item-name">Nazar Babenko</h3>
                    <p class="chococolate-is-loved-item-text">
                        This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.
                    </p>
                </li>
                <li class="chococolate-is-loved-item swiper-slide">
                    <img 
                        src="./images/chocolate-is-loved/chocolate-is-loved-3.png"
                        alt="Client photo 3"
                        class="chococolate-is-loved-item-image"
                    />
                    <h3 class="chococolate-is-loved-item-name">Olena Kampusch</h3>
                    <p class="chococolate-is-loved-item-text">
                        Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.
                    </p>
                </li>
                <li class="chococolate-is-loved-item swiper-slide">
                    <img 
                        src="./images/chocolate-is-loved/chocolate-is-loved-4.png"
                        alt="Client photo 4"
                        class="chococolate-is-loved-item-image"
                    />
                    <h3 class="chococolate-is-loved-item-name">Natalia Sus</h3>
                    <p class="chococolate-is-loved-item-text">
                        The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level.
                    </p>
                </li>
                <li class="chococolate-is-loved-item swiper-slide">
                    <img 
                        src="./images/chocolate-is-loved/chocolate-is-loved-5.png"
                        alt="Client photo 5"
                        class="chococolate-is-loved-item-image"
                    />
                    <h3 class="chococolate-is-loved-item-name">Danilo Nottingham</h3>
                    <p class="chococolate-is-loved-item-text">
                        This is delicious. It so rich and flavorful you don't need to use as many. I love topping an apple with almond butter and these chips for a snack.
                    </p>
                </li>
                <li class="chococolate-is-loved-item swiper-slide">
                    <img 
                        src="./images/chocolate-is-loved/chocolate-is-loved-6.png"
                        alt="Client photo 6"
                        class="chococolate-is-loved-item-image"
                    />
                    <h3 class="chococolate-is-loved-item-name">Irina Tydnyuk</h3>
                    <p class="chococolate-is-loved-item-text">
                        This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class
                    </p>
                </li>
            </ul>
            <div class="swiper-chocolate-is-loved-pagination"></div>
        </div>
        <div class="chocolate-is-loved-btn-container">
            <button type="button" class="chocolate-is-loved-review-btn" data-review-modal-open>Leave a review</button>
        </div>
    </div>
</section>