<section class="hero">
    <div class="container">
        <div class="hero-container">
            <div class="hero-content">
                <p class="hero-description">
                    Treat yourself or a loved one to our finest ingredients for a moment 
                    of pure delight!
                </p>
                <div class="hero-buttons-container">
                    <div class="hero-buttons-list">
                        <button type="button" class="hero-button-buy" data-buy-modal-open>Buy now</button>
                        <a class="hero-button-made" href="#how-its-made">How it&#39;s made</a>
                    </div>
                    <a href="#footer" class="hero-button-scroll">
                        scroll down
                        <svg class="hero-scroll-icon" width="14" height="14">
                            <use href="./images/icons.svg#icon-scroll-down"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>