<section id="top-sellers" class="top-sellers">
    <div class="container">
        <h2 class="top-title"><span class="top-title-accent">Top</span> Sellers</h2>
        <div class="top-products">
            <div class="top-card-first">
                <picture>
                    <source
                        srcset="
                            ./images/top-sellers/top-sellers-1-desk@1x.jpg 1x,
                            ./images/top-sellers/top-sellers-1-desk@2x.jpg 2x
                        "
                        media="(min-width:1200px)"
                    />
                    <source
                        srcset="
                            ./images/top-sellers/top-sellers-1-tablet@1x.jpg 1x,
                            ./images/top-sellers/top-sellers-1-tablet@2x.jpg 2x
                        "
                        media="(min-width:768px)"
                    />
                    <source
                        srcset="
                            ./images/top-sellers/top-sellers-1-mobile@1x.jpg 1x,
                            ./images/top-sellers/top-sellers-1-mobile@2x.jpg 2x
                        "
                        media="(min-width:375px)"
                    />
                    <img
                        class="top-card-img"
                        srcset="./images/top-sellers/top-sellers-1-desk@2x.jpg"
                        src="./images/top-sellers/top-sellers-1-desk@1x.jpg"
                        alt="top-sellers-1"
                    />
                </picture>
            </div>
            <div class="top-text-container">
                <p class="top-text">
                    Crazy enough chocolate originates from a bean just like the coffee
                    bean called Cacao. Cacao has been around for thousands of years and
                    was first discovered by the Native American tribe called the Mayans.
                </p>
            </div>
            <div class="top-card-second">
                <picture>
                    <source
                        srcset="
                            ./images/top-sellers/top-sellers-2-desk@1x.jpg 1x,
                            ./images/top-sellers/top-sellers-2-desk@2x.jpg 2x
                        "
                        media="(min-width:1200px)"
                    />
                    <source
                        srcset="
                            ./images/top-sellers/top-sellers-2-tablet@1x.jpg 1x,
                            ./images/top-sellers/top-sellers-2-tablet@2x.jpg 2x
                        "
                        media="(min-width:768px)"
                    />
                    <source
                        srcset="
                            ./images/top-sellers/top-sellers-2-mobile@1x.jpg 1x,
                            ./images/top-sellers/top-sellers-2-mobile@2x.jpg 2x
                        "
                        media="(min-width:375px)"
                    />
                    <img
                        class="top-card-img"
                        srcset="./images/top-sellers/top-sellers-2-desk@2x.jpg"
                        src="./images/top-sellers/top-sellers-2-desk@1x.jpg"
                        alt="top-sellers-1"
                    />
                </picture>
            </div>
            <div class="top-card-third">
                <picture>
                    <source
                        srcset="
                            ./images/top-sellers/top-sellers-3-desk@1x.jpg 1x,
                            ./images/top-sellers/top-sellers-3-desk@2x.jpg 2x
                        "
                        media="(min-width:1200px)"
                    />
                    <img
                        class="top-card-img"
                        srcset="./images/top-sellers/top-sellers-3-desk@2x.jpg"
                        src="./images/top-sellers/top-sellers-3-desk@1x.jpg"
                        alt="top-sellers-1"
                    />
                </picture>
            </div>
            <div class="top-btn-container">
                <button type="button" class="top-btn" data-buy-modal-open>Buy now</button>
            </div>
        </div>
    </div>
</section>